	.tile {
		opacity: 1 !important;
		background-color:#f1f1f1;
		margin:5px 5px 5px 5px;
		width: 100%;
		height: auto;
		max-height: 76px;
		max-width: 90px;
		min-width: 37px;
		font: bold 42px 'Droid Sans', Arial, sans-serif;
		text-align: center;
		color: #111;
		/* background-color: #ddd; */
		background-image: -webkit-linear-gradient(top, #1b1e31, #25306d, #1b1e31); 
		background-image:    -moz-linear-gradient(top, #1b1e31, #25306d, #1b1e31);
		background-image:     -ms-linear-gradient(top, #1b1e31, #25306d, #1b1e31);
		background-image:      -o-linear-gradient(top, #1b1e31, #25306d, #1b1e31);
		border-top: 1px solid #fff;
		border-radius: 15px;
		border-width: 1px;
		border-color: #273278;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
		margin: 4px 7px;
		padding: 20px 5px;
		position: relative;
	}
	.tile:after{
		content:"";
		width: 94%;
		border-bottom: 2px solid #000;
		height: 1px;
		background-color: #ffffff1c;
		display: block;
		padding: 0 3px;
		position: absolute;
		top: 48%; left: -1px;
		z-index: 1;
	}
	.container {
		text-align: center;
		align: center;
		/* background: #222; */
		background-image: -webkit-linear-gradient(top, #3c3b3f, #333, #333, #3c3b3f); 
		background-image:    -moz-linear-gradient(top, #3c3b3f, #333, #333, #3c3b3f);
		background-image:     -ms-linear-gradient(top, #3c3b3f, #333, #333, #3c3b3f);
		background-image:      -o-linear-gradient(top, #3c3b3f, #333, #333, #3c3b3f);
		border: 2px solid #333;
		border-radius: 15px;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		margin: 7px;
		padding: 14px 14px;
		margin-right: 14px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: nowrap;
		height: 100%;
		max-width: 410px;
		min-width: 270px;
		max-height: 130px;
		padding-right: 33px;
	}
	.adjust{
		/*font-size: 7vw;*/
		font-family: 'Heebo', sans-serif;
		font-size: 48px;
		font-weight: 600;
		color: white;
	}
	.labels{
		width: 100%;
		max-height: 25px;
		height: auto;
		text-align: center;
		bottom: 8px;
	}
	.li{
		max-width: 102px;
		padding-left: 12px;
		font-family: 'Heebo', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #8bc1da;
		text-shadow: 1px 1px 0px #000;
		text-align: right;
		text-transform: uppercase;
		display: inline-block;
	}